body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    background-image: url(background.jpg);
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}

#start-buttons,
#quiz-section,
#instruction-box,
#character-vikings,
#character-tudors,
#character-france,
#character-romans,
#character-egypt,
#out-of-lives-modal {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(244,244,244,0.5);
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#character-select {
    display: none;
}

#options button {
    display: block;
    margin: 5px auto;
}

#rule-title, #character-title {
    font-size: 30px;
}

#instructions {
    font-family: 'IM Fell English SC', serif;
}

#question-text {
    font-family: 'Grenze Gotisch', cursive;
}

#options {
    font-family: 'Quintessential', cursive;
}

#lives {
    font-family: 'VT323', monospace;
}

/* #heart-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%
  } */
/* #f4f4f4 */